---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead
      title='Tamal Anwar Chowdhury, Bangladeshi Software Engineer'
      description={SITE_DESCRIPTION}
    />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <>
      <div class='wrapper'>
        <div class='heading'>
          <h1 class='en'>Offical Website</h1>
          <h1 class='bangla'>অফিশিয়াল ওয়েবসাইট</h1>
        </div>
        <p>
          Hello, it's Tamal Anwar Chowdhury, Bangladeshi Software Engineer and
          content creator. You will find everything you need to know about me
          here.
        </p>

        <div class='heading'>
          <h1 class='en'>Show Don't Tell</h1>
          <h1 class='bangla'>কথা কম কাজ বেশি</h1>
        </div>
        <p>Making some animated GIFs for this section.</p>

        <h1>Featured Content</h1>
        <p>
          I am going big on videos these days. Check out some of my best videos
          here.
        </p>

        <h1>My Inspirations</h1>
        <p>Rockstar Games websites have been a huge inspiration in my life.</p>
      </div>
    </>
    <Footer />
  </body>
</html>
