---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead
      title='Tamal Anwar Chowdhury, Software Engineer, Bangladesh'
      description={SITE_DESCRIPTION}
    />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <>
      <div class='wrapper'>
        <h1>Tamal Anwar Chowdhury's Software Engineer Resume</h1>
        <p>
          Hey, you just landed on my website. I am a software engineer, content
          creator and do developer advocacy for various software products.
          Currently looking for my next role in tech so please check out my
          resume below 👇
        </p>
        <p>
          <a
            href='https://docs.google.com/document/d/1bdVDfordarXoFk2KWJSCbKJ-BYEaztCJgM0ytKri5dY/edit?usp=sharing'
            target='_blank'>View the Resume on Google Drive</a
          >
        </p>

        <p>Enjoy your visit!</p>
      </div>

      <iframe
        src='https://docs.google.com/document/d/1bdVDfordarXoFk2KWJSCbKJ-BYEaztCJgM0ytKri5dY/edit?usp=sharing'
        frameborder='0'
        width='100%'
        height='800px'></iframe>
    </>
    <Footer />
  </body>
</html>
