---
const today = new Date();
---

<footer class='footer'>
  Tamal Anwar Chowdhury built this site in {today.getFullYear()} with <a
    href='https://docs.astro.build/en/getting-started/'
    target='_blank'
  >
    Astro.
  </a>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
